/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 14px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


@-webkit-keyframes highlight {
  0% {
    color: #3C8563;
  }
  50% {
    color: #000;
  }
  100% {
    color: #184A52;
  }
}

a.highlight {
 -webkit-animation-name: highlight;
 -webkit-animation-duration: 2s;
 -webkit-animation-direction: alternate;
 -webkit-animation-timing-function: ease-in-out;
 -webkit-animation-iteration-count: 100;
}

header *, .block{
  -webkit-transition: all 0.5s linear;
}

a {
  color: #3C8563;
  text-decoration: none;
}

a:visited {
  color: #3C8563;
}

a:hover {
  color: #366E2B;
  -webkit-transition: color 2s ease;
}

a:hover, a:active {
  outline: 0;
}

header {
  text-align: center;
  text-shadow: 0.1em 0.1em 0.01em #ddd;
  margin-bottom: 2em;
}



header h1{
  font-size: 6em;
  margin-bottom: 0;
  margin-top: 0.1em;
  font-weight: 700;
  text-transform; uppercase;
  font-style: italic;
  font-family: 'Droid Serif', cursive;
}
header h1 a, header h1 a:visited{
  color: #366E2B;
  text-decoration: none;
}

header h1 a:hover{
  color: #4C963E;
  -webkit-transition: color 1s ease;
}

header h2{
  letter-spacing: 0.30em;
  font-size: 1.5em;
  text-transform; uppercase;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #30565C;
}


body {
}

#container {
  width: 85%;
  margin: auto;
  max-width: 1300px;
}

.block {
  background-color: #F0F6FA;
  width: 60%;
  margin: 1em 20% 1em 20%;
  padding: 1em 0 1em 0;
  border: 0.1em solid #999;
  -moz-box-shadow: 0.3em 0.3em 0.6em #aaa;
  -webkit-box-shadow: 0.3em 0.3em 0.6em #aaa;
  box-shadow: 2px 2px 8px #aaa;
  -webkit-backface-visibility: hidden;
}

.block_list {
  -webkit-transition: all 1s ease;

}

.one{
  -webkit-transform: rotate(0.25deg);
}

.block_list.one:hover {
  -webkit-transform: rotate(-0deg);
}

.two {
  -webkit-transform: rotate(-0.25deg);
}

.block_list.two:hover {
  -webkit-transform: rotate(0deg);
}

.block img {
  max-width: 93%;
  max-height: 25em;
}

.block h2{
  color: #000;
  font-size: 2em;
  padding: 0 1em 0 1em;
  margin: 0;
}

.block a{
  text-align: center;
  text-decoration: none;
}

.block p{
  padding: 0 2em 0 2em;
}

.block_view {
  width: 92%;
  float: none;
  -webkit-transform: rotate(0);
}

.block_view img {
  max-height: 40em;
  margin-bottom: 2em;
}

.narrow{
  width: 40%;
  margin-left: 30%;
}

.justify p {
  text-align: justify;
}

.note p {
  font-size: 1.2em;
}

form {
  text-align: left;
}

#suggestion_form label {
  font-size: 1.2em;
  font-weight: bold;
}
#suggestion_form input, #suggestion_form textarea{
  font-size: 1.1em;
  font-weight: bold;
  width: 100%;
  padding: 5px 0px 5px 0px;
  border: 1px solid #888;
}

footer {
  margin-top: 4em;
  color: #444;
  text-size: 1.3em;
  text-align: center;
  padding: 0 25% 0 25%;
}

footer .copy{
  color: #666;
  font-style: italic;
}

footer .credit{
  font-size: 1.5em;
}

footer .copy{
  font-size: 1em;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */
@media only screen and (max-width: 768px){
  header h1{
    font-size: 4em;
  }
  header h2{
    font-size: 1.2em;
  }
  footer {
    padding: 0 20% 0 20%;
  }
}

@media only screen and (max-width: 650px){

  header h1{
    font-size: 3em;
  }

  header h2{
    font-size: 0.8em;
  }

  .block h1{
    font-size: 2em;
  }

  #container .block {
    width: 92%;
    margin: 1em 4% 1em 4%;
    float: none;
  }
  footer {
    padding: 0 15% 0 15%;
  }

}

@media only screen and (max-width: 400px ){
  header h1{
    font-size: 2em;
  }
  .block h1{
    font-size: 1em;
  }
  footer {
    padding: 0 5% 0 5%;
  }
}

@media only screen and (orientation:portrait){

  #container .block {
    width: 96%;
    margin: 1em 2% 1em 2%;
    float: none;

  }

  footer {
    padding: 0 15% 0 15%;
  }

}

.gist{
  padding: 1em 2em 0em 2em;
}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
